name: publish_package

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [feat/dynamic-token-list]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: ["18"]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            ./node_modules/
          key: ${{ runner.os }}-yarn-${{ hashFiles('./yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Enable Corepack
        run: corepack enable
      - name: Prepare Yarn
        run: corepack prepare yarn@4.3.1 --activate

      - name: Install Dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn
      - name: Build
        run: yarn build
      - name: Authenticate with private NPM package
        run: echo "//registry.npmjs.org/:npmAuthToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Config registry
        run: yarn config set registry https://registry.npmjs.org/
      - name: Publish Oraichain Common
        id: publish-oraichain-common
        continue-on-error: true
        run: yarn --cwd packages/common deploy
        env:
          CI: false
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      # - name: send result via discord
      #   uses: appleboy/discord-action@master
      #   with:
      #     webhook_id: ${{ secrets.WEBHOOK_ID }}
      #     webhook_token: ${{ secrets.WEBHOOK_TOKEN }}
      #     username: "GitBot"
      #     message: "Repo oraichain-sdk has just published. @oraichain/common: ${{ steps.publish-oraichain-common.outcome }}. ${{ github.event.head_commit.author.name }}"
